.withdraw-page {
	position: absolute;
	top: 100px;
	left: 23%;
	width: 50%;
	height: fit-content;
	min-height: 20px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #1e243e;
	border-radius: 10px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap-info {
	margin-bottom: 30px;
	width: 500px;
	height: fit-content;
	background-color: #0c1022;
	display: flex;
	flex-direction: row;
}

.col-2 {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.withdraw-button {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #54d1f7;
	border-radius: 30px;
	color: #000;
	font-size: 16px;
	cursor: pointer;
}
